<!DOCTYPE html>
<html>
<head>
    <title>Advertisers</title>
    <link rel="stylesheet" href="styles3.css">

</head>
<body>
<h1>Advertisers</h1>
<ul>
    {{range .Advertisers}}
    <li>{{.Name}} - Credit: {{.Credit}} - <a href="/advertisers/{{.ID}}">View Credit</a> - <a href="/advertisers/{{.ID}}/ads">View Ads</a> - <a href="/ads/new?advertiser_id={{.ID}}">Create Ad</a><a href="/advertisers/{{.ID}}/reports">View Ads</a></li>
    {{end}}
</ul>
<a href="/advertisers/new">Create New Advertiser</a>
<a href="/">Back to Home</a>
</body>
</html>
